
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Magor-Old/site/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Magor-Old/site/index.php [L]
</IfModule>

# END WordPress

<Files "xmlrpc.php">
Order Allow,Deny
deny from all
</Files>